%h2 Directorates
.orangeButton
  =link_to "Add Directorate", new_directorate_path, :class=>"add"
%table{:cellspacing=>"0", :cellpadding=>"0"}
  %tr
    %th Directorate Name
    %th Abb.
    %th Directorate Equalities Governance Officer
    %th.last
  %tr
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up selected", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %td.last.sortControls
  - @directorates.each do |directorate|
    %tr{:class => cycle("light", "dark")}
      %td= directorate.name
      %td= directorate.abbreviation
      %td= directorate.cop.email
      %td.last= link_to "edit", edit_directorate_path(directorate), :class => "action edit", :target => "blank"