<%= error_messages_for 'function_manager' %>
<%= error_messages_for 'function' %>

<p><label for="function_manager_email">Email</label><br />
<%= text_field 'function_manager', 'email', 'size' => 50 -%></p>

<p><label for="function_name">Name</label><br />
<%= text_field 'function', 'name', 'size' => 50 -%></p>

