<%= error_messages_for 'function' %>

<!--[form:function]-->
<p><label for="function_key">Key</label><br/>
<%= text_field 'function', 'key'  %></p>

<p><label for="function_email">Email</label><br/>
<%= text_field 'function', 'email'  %></p>

<p><label for="function_name">Name</label><br/>
<%= text_field 'function', 'name'  %></p>

<!--[eoform:function]-->

