<h2>Equalities Assessment - Section 1 input</h2>
<h3><%= @function.name %></h3>

<% form_tag :action => 'update', :id => @function do %>
  <%= render :partial => '_section1' %>  
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Back', :action => 'show', :id => @function %>
