<h2>Editing function</h2>

<% form_tag :action => 'update', :id => @function do %>
  <%= render :partial => 'contact' %>  
  <%= render :partial => '_section1' %>  
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Back', :action => 'list1', :id => @session['logged_in_user'].organisation.id %> 
