<h3>CEPT Function Input Page</h3>

<% form_tag :action => 'update', :id => @function do %>
  <%= render :partial => 'contact' %>  
  <span class="button">
  <%= submit_tag 'Save' %>
  </span>
<% end %>

<%= link_to 'Back', :action => 'list', :id => @session['logged_in_user'].organisation.id %> 
