To complete or edit your function details click on the link below:

http://<%= @user.function.organisation.style %>.<%= @request.host_with_port.split(/\s*\.\s*/, 2)[1] %>.<%= @request.host_with_port.split(/\s*\.\s*/, 2)[1] %>/<%= @user.passkey %>

