<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <style type="text/css" media="screen">
    body { padding: 10px; background-color: #f8f8f8; font-family: Tahoma, Verdana, Arial, Sans-Serif; font-size: 0.8em; }
    #content { margin: 0; width: 700px; border: 1px solid #1B4E77; background-color: #fff; color: #666; padding: 10px 20px 10px 20px; }
    h2 { color: #1B4E77; margin: 0px; padding: 10px 0px; font-size: 1.2em; }
  </style>
</head>
<body>
  <div id="content">
    <h2>Access Key</h2>
    <p>This email is from the impactequality&trade; assessment tool.</p>
    <p>You have received this email as you have been identified as a relevant manager for the equality impact assessment process.</p>
    <p>The link below will take you to the Organisation summary page where you will be able to assist in managing and controlling the online equality impact assessment process.</p>
    <p><%= link_to @login_url, @login_url %></p>
    <p>If you have any queries about the assessment process please contact a member of your equalities team.</p>
    <p>Thank you.</p>
  </div>
</body>
</html>