This email is from the impactequality™ assessment tool.

You have received this email as you have been identified as a relevant manager for the equality impact assessment process.

The link below will take you to the Organisation summary page where you will be able to assist in managing and controlling the online equality impact assessment process.

<%= @login_url %>

If you have any queries about the assessment process please contact a member of your equalities team.

Thank you.