<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <style type="text/css" media="screen">
    body { padding: 10px; background-color: #f8f8f8; font-family: Tahoma, Verdana, Arial, Sans-Serif; font-size: 0.8em; }
    #content { margin: 0; width: 700px; border: 1px solid #515F8D; background-color: #fff; color: #666; padding: 10px 20px 10px 20px; }
    h2 { color: #515f8d; margin: 0px; padding: 10px 0px; font-size: 1.2em; }
  </style>
</head>
<body>
  <div id="content">
    <h2>Access Key</h2>
    <p>This e-mail is from the Impact Equality&trade; assessment tool.</p>
    <p>You have received this e-mail as you have been granted access to the latest version of the tool.</p>
    <p>In using this version we ask that you comply with the terms and conditions which will be sent to you by separate email. By accessing the demonstration version of the tool you are confirming your acceptance of the terms and conditions.</p>
    <p>The link below will take you to the Organisation Manager page for your council.</p>
    <p><%= link_to @login_url, @login_url %></p>
    <p>If you have any queries or comments during this period please send them to: <%= link_to 'support@blackradley.com', 'mailto:support@blackradley.com' -%></p>
    <p>Thank you.</p>
  </div>
</body>
</html>