<% form_tag :action => 'new_organisation' do %>
  To create a new organisation
  <p><label>Email</label>: 
  <%= text_field_tag :email  %></p>
  
  <%= submit_tag 'Create New Organisation' %>
  
<% end %>
