<%= error_messages_for 'organisation_manager' %>
<%= error_messages_for 'organisation' %>
    
<p><label for="organisation_manager_email">Email</label><br />
<%= text_field 'organisation_manager', 'email', 'size' => 50 -%></p>
    
<p><label for="organisation_name">Name</label><br />
<%= text_field 'organisation', 'name', 'size' => 50 -%></p>

<p><label for="organisation_style">Style</label><br />
<%= text_field 'organisation', 'style' -%></p>