<h2>Edit organisation</h2>

<% form_tag ({:action => 'update', :id => @organisation.id}, :id => 'new_organisation') do %>
  <%= render :partial => 'edit_form' %>


<span class="button" style="float:none;">
<%= submit_tag "Update" %>
</span>
<% end %>
<span class="button">
<%= link_to 'Back', {:action => 'list'}  %>
</span>