<h2>New organisation</h2>

<% form_tag ({:action => 'create'}, :id => 'new_organisation') do%>
  <%= render :partial => 'form' %>
<% end %>

<span class="button" style="float:none;">
<%= submit_tag "Create" %>
</span>
<span class="button">
<%= link_to 'Back', {:action => 'list'}  %>
</span>