<h2>New Organisation</h2>

<% form_for @organisation do |f| %>
	<%= render :partial => 'form' %>
	<span class="button" style="float:none;">
		<%= submit_tag "Create" %>
	</span>
<% end %>

<span class="button">
	<%= link_to 'Back', organisations_url %>
</span>