<h2><%=h @organisation.name %></h2>

<p><strong>Email:</strong> <%= @user.email -%></p>
<p><strong>Reminded:</strong> <%= date_or_blank(@user.reminded_on) -%></p>
<% for column in Organisation.content_columns -%>
<p>
  <strong><%= column.human_name -%>:</strong> <%=h @organisation.send(column.name) -%>
</p>
<% end -%>

<%= link_to 'Edit', :action => 'edit', :id => @organisation -%> | <%= link_to 'Back', :action => 'list' -%>
