/ #fancybox-inner
/   :background-color #ffffff
/   :border 1px solid #FFFFFF 
/   :overflow hidden

.commentform, .noteform
  :width 510px
  :background-color transparent
  :padding 20px
  :float left
  
  form
    :margin 0
  .heading
    h3
      :font-size 14px
      :float left
      :margin-left 5px
      :width auto
  textarea
    :width 510px
    :height 130px
    :font-size 12px
    :line-height 20px
    :font-family "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif
    
  a
    :float left
    :margin-top 10px
    :margin-left 213px
    :width auto
    :font-family Tahoma, Verdana, Arial, Sans-Serif
    :font-size 1em
    :padding 5px 20px
    :font-weight bold
    :color #FFF
    :background-color #4e979e
    :background
      :image url(../images/button_bg.gif)
    :border 2px solid #7ab9c0
    :text-decoration none
    &:visited
      :float left
      :margin-top 10px
      :width auto
      :font-family Tahoma, Verdana, Arial, Sans-Serif
      :font-size 1em
      :padding 5px 20px
      :font-weight bold
      :color #FFF
      :background-color #4e979e
      :border 2px solid #7ab9c0
      :text-decoration none
    &:hover
      :background
        :image url(../images/button_on_bg.gif)
