#strand
  :width 700px

.step
  .stepBox
    p
      img
        :margin-bottom -2px
        :padding-bottom 4px

    .checkStrand
      input
        :margin-top 2px

h1
  :margin-top 20px

h4
  .h4_link
    :margin-top -23px

.help_example
  :float left
  :margin-left 5px
  :margin-top 10px

#questions
  .more
    .help
      :width 202px
    p
      .comment,
      .note
        :width 202px
    textarea
      :width 202px
      :margin-left 0px

.help_example
  :float left
  :margin-left 65px
  :margin-top 0px

.section_summary_toggles
  :width 100px

#content_holder
  :height 1000px
  :width 100%