//general

BODY
  :font-family Arial, Sans-Serif
  :font-size 0.7em
  :text-align center
  :background-color #999999
  :color #666
  :margin 0

h1,
h2,
h3,
h4,
h5
  :color #1b4e77
  :font-weight bold
  :margin 0px
  :padding 10px 0px
  :clear both

h1
  :font-weight normal
  :font-size 2em
  :margin 0px 20px

h2
  :font-weight normal
  :color #1B4E77
  :font-size 1.5em
  :margin 0px 20px

h3
  :font-size 1.2em
  :width 420px
  :clear none

h4
  :font-size 1.1em

  .h4_link
    :float right
    :margin-top -13px
    :font-size 0.9em
    :font-weight normal
    :margin-right 5px
    :height 20px
    
    img
      :margin-bottom -4px

h5
  :font-size 1em

ul
  li
    :line-height 1.5em
  
  #sortable_strategies
    li
      :cursor pointer

p
  :margin 0px 20px 10px 20px

fieldset
  :clear both
  :border none

label
  :clear left
  :float left
  :line-height 2em
  :margin-right 10px
  :margin-bottom 5px

select,
input
  :width 224px
  :border 1px solid #1B4E77
  :margin-top 4px  
  :font-size 1em

textarea
  :width 220px
  :border 1px solid #1B4E77
  :margin-top 4px  
  :height 60px
  :font-family Tahoma, Verdana, Arial, Sans-Serif
  :font-size 1em

form
  :margin 0px
  
.labelled
  :line-height 2em

#preview
  :position relative
  :float right
  span
    :position absolute
    :color black
    :font-size 9px
    :font-family Tahoma, Verdana, Arial, Sans-Serif
    :text-transform capitalize
  #org_name
    :left 0
    :top 40px
    :width 400px
    :font-size 14px
    :text-align center
  #act_name
    :left 124px
    :top 80px
  #act_man
    :left 124px
    :top 120px
    :text-transform lowercase
  #act_approv
    :left 124px
    :top 130px
    :text-transform lowercase
#form_holder
  :width 260px
  :float left
#signup_form
  p
    input
      :clear left
      :float left
      :margin-top 0
    label
      :margin-bottom 0
      :width 100px
    span.form_note
      :margin-bottom 10px
      :font-size 10px
      :float left
      :clear left