.help_section
  :margin-left 20px
.help_strand
  :margin-left 20px
  ul
    :padding 0px 0px 0px 0px
  li
    :list-style-type none
    :clear left
    :padding 0px 10px 10px 0px
  textarea
    :clear left
    :width 500px
    :padding 5px 5px 0px 0px
  h5
    :padding 0px 0px 0px 5px
.help_text_controls
  h5, h4, img
    :float left
    :padding 0px 10px 10px 0px
