.content
  .messageArea
    p
	    :margin-top 0px
	    
#strand
  :width 700px
  
#questions
  .more
    .help
  	  :width 202px
	  p
      .comment,
      .note
        :width 200px
    textarea
      :width 230px

        / html/**/>body #questions .more textarea{
        /           width: 220px;
        /           margin-left: 10px;
  .issueDetails
    .question
      .sub
        textarea,
        input
          :margin-left 30px
          :width 318px
          
.step
  .stepBox
    p
      img
    	  :margin-bottom -2px        
        :padding-bottom 4px
	      
	  .checkStrand
	    input
        :margin-top 2px


        html/**/>body.summary fieldset#approval{

        	width: 230px;

        }
        
        html/**/>body .help_example {
        float:left; 
        margin-left:75px;
        margin-top:5px;
        }
        
        
        html/**/>body h4 .h4_link{
        	float: right;
        	margin-top: -13px;
        	font-size:0.9em;
        font-weight:normal;
        margin-right: 5px;
        height: 20px;
        }
        html/**/>body h4 .h4_link img{
        	margin-bottom: -4px;

        }