//1234 page styles
.content .workingArea #content_holder
  .step
    :clear left
    :width 950px
    :background-image url(../images/section_bg.gif)
    :background-position top center
    :background-repeat no-repeat
    :margin 10px 0px 15px
    :display block
    :overflow hidden
    :position relative

    .stepFooter
      //:float left
      //:clear left
      //:margin 0px
      :width 950px
      :height 24px
      //:position absolute
      :bottom -1px
      :z-index 10
      :background-image url(../images/section_bottom.gif)
      :background-position top center
      :background-repeat no-repeat
      :overflow hidden

    .stepBox
      :float right
      :width 890px
      :margin 20px 30px 20px
      :overflow hidden
      :display inline

      h2
        :float left
        :width 870px
        :color #1B4E77
        :font-weight bold
        :margin 0px
        :padding 0px

      p
        :float left
        
        :width 870px
        :margin 0px 0px 10px 0px
      
        a
          :font-weight bold
        .orangeButton
          :border 0px
          :background-image url(../images/orange_buttons/search.jpg)
          :background-repeat no-repeat
          :width 79px
          :height 32px
          :overflow hidden
          :color #ffffff
          :float none
          :padding 0px
          :margin 10px 0px 0px 10px
          :line-height 30px
          :font-weight bold
        .orangeButton:hover
          :background-image url(../images/orange_buttons/search_hover.jpg)
        strong
          :color #1B4E77
          :font-size 13px
        
        .indented
          :margin-left 28px
          :float left

        img
          :margin 0px 4px
          :margin-bottom -3px	
          :padding-bottom 0px
        .letter
          :font-size 24px
          :font-family "Arial Rounded MT Bold", Arial
          :color #1B4E77
        
      .width_445
        :width 425px
        :float left

      table
        :float left
        :clear none
        :margin-left 20px
      
      td  
        :width 107px
        :height 33px
        :overflow hidden
        :text-align center
        :background-color #FFFFFF
      th
        :width 96px
        :padding 5px
        :background-color #1B4E77
        :color #FFFFFF !important
        :height 33px
        :text-align center
        :vertical-align middle
      .strandHeading
        :text-align left
        :vertical-align middle
        :color #FFFFFF
      .checkStrand
        :float left
        :margin-left 22px
        :width 190px
      
        input
          :width auto
          :float left
          :border none
          :margin-top 5px
          :*margin-top 2px

        label
          :float left
          :clear none
          :font-weight bold
          :color #1B4E77
          :position relative
        
          .strandRelevant
            :float left
            :width 120px
            :color green
            :font-weight normal
            :font-size 0.9em
            :font-style italic
            :margin-top -7px

      fieldset
        :width 100%
        :margin 0px
        :padding 0px

        p
          :width auto
          :float left
          :margin 0px
          :padding 0px
          :padding-bottom 2px

      select
        :width 140px
        :float left
        :margin 0px
        :padding 0px
        :margin-top 9px
        :margin-right 20px

      .submit
        :float left
        :width 100px

        img
          :margin-top 4px
          :float left
          :margin-left 0px

        input
          :clear none
          :float left
          :width 50px
          :background-color transparent
          :border none
          :text-align left
          :text-decoration underline
          :color #1B4E77
          :margin-left 0px
          :padding-left 0px
          :margin-top 9px
  .current
    :background-image url(../images/section_bg_current.gif)
    .stepFooter
      :background-image url(../images/section_bottom_current.gif)
#disable
  :position absolute
  :width 100%
  :height 100%
  :top 50px
  :left 0px
  :background-color #ccc
  :filter alpha(opacity=20)
  :-moz-opacity 0.2
  :opacity 0.2
  
#unapprove_box
  :width 292px
  :position absolute
  :top 200px
  :left 200px
  :border 4px solid red
  :background-color #fff
  :text-align center
  :padding 40px 0px
  a
    :color red
    &:visited,
    &:hover
      :color red
  img
    :margin-bottom -4px
  