// strategy styles

#strategy_edit
  label
    :width 100px
    :margin 0px
    :float left

  .labelled
    :width 510px
    :float left

    input,
    textarea
      :width 510px
      :float left

#strategy_new
  label
    :width 100px
    :margin 0px
    :float left

  .labelled
    :width 510px
    :float left

    input,
    textarea
      :width 510px
      :float left

#strategy_details
  label
    :width 100px
    :margin 0px
    :float left

  .labelled
    :width 510px
    :float left

    input,
    textarea
      :width 510px
      :float left

.strategyForm
  :position relative
  :background-color #F8F8F8
  :margin 10px
  :width 500
  :padding 5px

  label
    :width 200px
    :padding 5px

  input, textarea, p
    :width 260px
    :margin 2px
  img
    :position absolute
    :top 2
    :right 2