// Tabular Data

table
  :width 100%
  :font-size 1em

  th
    :color #515f8d
    :font-weight bold
    :padding 5px
    :width 80px
    :text-align center
    :vertical-align middle

    .strandHeading
      :text-align left
      :width 40px

  td
    :padding 5px 0px
    :text-align center
    :vertical-align middle

    img
      :margin 2px
      
  .actions 
    a
      img
        :margin 2px

.list
  :width 100%
  :margin-bottom 10px
  :border-collapse collapse
  :align center

  caption
    :font-weight bold
    :text-align left
    :background-color #fff
    :color #515f8d
    :padding 5px
    :text-decoration none

  th,
  td
    :border 1px solid #CCC
    :padding 2px
    :text-align center

    .left
      :text-align left

  th
    :background-color #EEE
    :text-align center

  td
    :vertical-align middle
  
  table
    :text-align left

.listSmall
  :width 50%
  :margin-bottom 10px
  :border-collapse collapse
  :align center

  caption
    :font-weight bold
    :text-align center
    :background-color #fff
    :color #515f8d
    :padding 5px
    :text-decoration none

  th,
  td
    :border 1px solid #CCC
    :padding 2px
    :text-align center

    .left
      :text-align left

  th
    :background-color #EEE
    :text-align center

  td
    :vertical-align middle
  
  
