// Tabular Data

table
  :clear both
  :width 950px
  :margin 20px 0px
  :border 1px solid #BBBBBB
  th
    :background-color #1B4E77
    :color #ffffff
    :border-right 1px solid #BBBBBB
    :text-align left
    :padding 0px 10px 5px
    :line-height 16px
    :height 44px
    :vertical-align bottom
    .sortControls
      :float right
      a
        :float left
        :width 16px
        :height 16px
        :padding 0px
        :cursor pointer
        :text-indent -1000px
        :overflow hidden
        :background-repeat no-repeat
      .up
        :background-image url(../images/bullet_arrow_up.gif) !important
      .down
        :background-image url(../images/bullet_arrow_down.gif) !important
      .up.selected,
      .up:hover
        :background-image url(../images/bullet_arrow_up_on.gif) !important
      .down.selected,
      .down:hover
        :background-image url(../images/bullet_arrow_down_on.gif) !important
  .sortControls.asc
    .up
      :background-image url(../images/bullet_arrow_up_on.gif) !important
  .sortControls.desc
    .down
      :background-image url(../images/bullet_arrow_down_on.gif) !important
  th.sortControls
    :height auto
  td
    :text-align left
    :border-right 1px solid #BBBBBB
    :padding 8px 10px
    .action
      :padding-left 20px
      :margin-right 10px
      :background-repeat no-repeat
      :background-position center left
    .edit
      :background-image url(../images/icons/edit.gif)
    .view
      :background-image url(../images/icons/pdf.gif)
    .retired
      :font-style italic
      :color #e2474b
      :font-size 11px
  .last
    :border-right 0px solid #BBBBBB
  .sortControls
    :text-align center
    :background-color #D2E0F0
    :padding 0px
    a
      :display inline-block
      :zoom 1
      :*display inline
      :width 13px
      :padding 4px 0px
      :cursor pointer
      :text-decoration none !important
      :overflow hidden
      :background-repeat no-repeat
      :background-position center center
    .up
      :background-image url(../images/bullet_arrow_up.gif)
    .down
      :background-image url(../images/bullet_arrow_down.gif)
    .up.selected,
    .up:hover
      :background-image url(../images/bullet_arrow_up_on.gif)
    .down.selected,
    .down:hover
      :background-image url(../images/bullet_arrow_down_on.gif)
  .first
    :width 420px
  .dateTime
    :width 160px
  .date
    :width 65px
  .checkbox
    :text-align center
    input
      :width auto
      :border none
      
  .light
    td
      :background-color #ffffff
  .dark
    td
      :background-color #f1f1f1
      
.list
  :width 100%
  :margin-bottom 10px
  :border-collapse collapse
  :align center

  caption
    :font-weight bold
    :text-align left
    :background-color #fff
    :color #1B4E77
    :padding 5px
    :text-decoration none

  th,
  td
    :border 1px solid #CCC
    :padding 2px
    :text-align center

  .left
    :text-align left

  th
    :background-color #EEE
    :text-align center

  td
    :vertical-align middle
  
  table
    :text-align left

.listSmall
  :width 50%
  :margin-bottom 10px
  :border-collapse collapse
  :align center

  caption
    :font-weight bold
    :text-align center
    :background-color #fff
    :color #1B4E77
    :padding 5px
    :text-decoration none

  th,
  td
    :border 1px solid #CCC
    :padding 2px
    :text-align center

  .left
    :text-align left

  th
    :background-color #EEE
    :text-align center

  td
    :vertical-align middle
  
    .left
      :text-align left
  
