#new_activity p {
  float: left; }
#new_activity label {
  width: 350px; }
#new_activity .labelled {
  width: 240px;
  float: right;
  clear: right;
  line-height: 1em;
  margin-bottom: 5px; }
  #new_activity .labelled .checkbox input {
    width: auto;
    border: 0px solid #fff;
    margin-top: 0px;
    margin-right: 3px;
    float: left; }
  #new_activity .labelled select,
  #new_activity .labelled input {
    width: 240px;
    margin-right: 0px; }

#activity_link {
  font-weight: bold; }

#view_activities_by {
  float: right;
  margin-top: 10px;
  height: 30px;
  width: 201px; }

.name_update a {
  float: left;
  line-height: 2em;
  margin-left: 5px; }
.name_update input {
  float: left;
  margin-left: 5px; }

.approver_update a {
  float: left;
  line-height: 2em;
  margin-left: 5px; }
.approver_update input {
  float: left;
  margin-left: 5px; }

span.left_float {
  float: left;
  margin-left: 5px;
  line-height: 2em; }

span.simulate_left_link {
  float: left;
  line-height: 2em;
  margin-left: 5px;
  color: #4E979E; }

span.error_labelled {
  line-height: 2em;
  color: #DC143C;
  margin-left: 5px;
  float: left; }

#activity_name_display {
  float: left; }

#activity_approver_display {
  float: left; }
