body{
    padding:5px 20px 20px 20px;
	background-color: #ffffff;
}

.masthead{
    padding:76px 20px 20px 0;
	background: url(../images/anywhereshire.png);
	background-repeat: no-repeat;
}

.content{
	position: relative;
	top: 40px;
	left: 10px;
}

.working_area{
	float: left; 
}

.message_area, .errorExplanation{
	float: right; 
	width: 200px;
}

select{
	font-family:Arial; 
	font-size:8pt;
}

input{
	font-family:Arial; 
	font-size:8pt;
}

textArea{
	font-family:Arial; 
	font-size:8pt;
}

td{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
}   

p{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
}

.footer{

}