body{
	background: url(../images/birmingham.jpg);
	background-repeat: no-repeat;
}

select{
	font-family:Arial; 
	font-size:8pt;
}

input{
	font-family:Arial; 
	font-size:8pt;
}

textArea{
	font-family:Arial; 
	font-size:8pt;
}

td{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
}   

p{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000;
}

hr {
	color : #A9A9A9;
}

