.button input {
  margin-top: 10px;
  clear: both;
  float: right;
  width: auto;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  font-size: 1em;
  padding: 4px 20px;
  font-weight: bold;
  color: white;
  background-color: #1b4e77;
  background-image: url(../images/button_bg.gif);
  border: 2px solid #7ab9c0;
  cursor: pointer; }
  .button input:hover {
    background-image: url(../images/button_on_bg.gif); }

.button a {
  float: left;
  margin-top: 10px;
  width: auto;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  font-size: 1em;
  padding: 5px 20px;
  font-weight: bold;
  color: white;
  background-color: #1b4e77;
  background-image: url(../images/button_bg.gif);
  border: 2px solid #7ab9c0;
  text-decoration: none; }
  .button a:visited {
    float: left;
    margin-top: 10px;
    width: auto;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 1em;
    padding: 5px 20px;
    font-weight: bold;
    color: white;
    background-color: #1b4e77;
    border: 2px solid #7ab9c0;
    text-decoration: none; }
  .button a:hover {
    background-image: url(../images/button_on_bg.gif); }
