/*
Syntax error: Inconsistent indentation: "\t  " was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 10 of /Users/heather/Code/buxton/public/stylesheets/sass/editSections.sass

5:   padding 10px 20px
6:   margin-bottom 20px
7:   
8:   p
9:     :margin-left 0px
10: 	  :padding-left  0px
11: 	  :color #a92c1c
12: 
13: #questions
14:   :width 660px
15:   :background

Backtrace:
/Users/heather/Code/buxton/public/stylesheets/sass/editSections.sass:10
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/engine.rb:282:in `tabulate'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/fileutils.rb:243:in `each_with_index'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/engine.rb:240:in `each'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/engine.rb:240:in `each_with_index'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/engine.rb:240:in `tabulate'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/engine.rb:216:in `_to_tree'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/files.rb:44:in `tree_for'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:32:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:12:in `cache'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:31:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/activesupport-3.0.4/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/rack/logger.rb:13:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/activesupport-3.0.4/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/actionpack-3.0.4/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/application.rb:168:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/application.rb:77:in `send'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/application.rb:77:in `method_missing'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/heather/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/commands/server.rb:65:in `start'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/commands.rb:30
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/commands.rb:27:in `tap'
/Users/heather/.rvm/gems/ruby-1.8.7-p302@brs/gems/railties-3.0.4/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: \"\t  \" was used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 10 of /Users/heather/Code/buxton/public/stylesheets/sass/editSections.sass\A \A 5:   padding 10px 20px\A 6:   margin-bottom 20px\A 7:   \A 8:   p\A 9:     :margin-left 0px\A 10: 	  :padding-left  0px\A 11: 	  :color #a92c1c\A 12: \A 13: #questions\A 14:   :width 660px\A 15:   :background"; }
