#strand {
  width: 700px; }

.step .stepBox p img {
  margin-bottom: -2px;
  padding-bottom: 4px; }
.step .stepBox .checkStrand input {
  margin-top: 2px; }

h1 {
  margin-top: 20px; }

h4 .h4_link {
  margin-top: -23px; }

.help_example {
  float: left;
  margin-left: 5px;
  margin-top: 10px; }

#questions .more .help {
  width: 225px; }
#questions .more p .comment,
#questions .more p .note {
  width: 225px; }
#questions .more textarea {
  width: 225px;
  margin-left: 0px; }

.help_example {
  float: left;
  margin-left: 65px;
  margin-top: 0px; }

#disable {
  position: absolute;
  width: 700px;
  height: 1200px;
  bottom: 0px;
  top: 50px;
  left: 0px;
  background-color: #ccc; }

.section_summary_toggles {
  width: 100px; }
