#strand {
  width: 700px; }

.step .stepBox p img {
  margin-bottom: -2px;
  padding-bottom: 4px; }
.step .stepBox .checkStrand input {
  margin-top: 2px; }

h1 {
  margin-top: 20px; }

h4 .h4_link {
  margin-top: -23px; }

.help_example {
  float: left;
  margin-left: 5px;
  margin-top: 10px; }

#questions .more .help {
  width: 202px; }
#questions .more p .comment,
#questions .more p .note {
  width: 202px; }
#questions .more textarea {
  width: 202px;
  margin-left: 0px; }

.help_example {
  float: left;
  margin-left: 65px;
  margin-top: 0px; }

.section_summary_toggles {
  width: 100px; }

#content_holder {
  height: auto; }

#disable {
  width: 700px; }

#menuBar ul li .tab_left {
  background-image: url(../images/tab_left.gif); }
#menuBar ul li .tab_right {
  background-image: url(../images/tab_right.gif); }

#new_activity .labelled .checkbox input {
  margin-top: -3px; }

#pdf_link {
  margin-top: -20px; }
