.floatLeft {
  float: left;
  color: #aaa; }

.floatRight {
  float: right; }

.clear {
  clear: both; }

.clearleft {
  clear: left; }

.left {
  text-align: left; }

#pdf_link {
  float: right;
  margin-top: -30px;
  height: 30px; }
  #pdf_link #activity_manager_view {
    width: 300px; }
    #pdf_link #activity_manager_view img {
      margin-right: 5px; }
  #pdf_link #approver_view {
    width: 105px; }
    #pdf_link #approver_view img {
      margin-right: 5px;
      float: left; }
  #pdf_link a {
    text-decoration: underline;
    color: #4e979e; }
    #pdf_link a:visited {
      text-decoration: underline;
      color: #4e979e; }
    #pdf_link a:hover {
      text-decoration: underline;
      color: #4e979e; }
