BODY {
  font-family: "Tahoma", "Verdana", Arial, Sans-Serif;
  font-size: 0.7em;
  text-align: center;
  background-image: url(../images/bg.png);
  background-repeat: repeat-x;
  background-color: #fff;
  color: #666; }

h1,
h2,
h3,
h4,
h5 {
  color: #4e979e;
  font-weight: bold;
  margin: 0px;
  padding: 10px 0px;
  clear: both; }

h1 {
  font-weight: normal;
  font-size: 2em;
  margin: 0px 20px; }

h2 {
  font-weight: normal;
  color: #4e979e;
  font-size: 1.5em;
  margin: 0px 20px; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }
  h4 .h4_link {
    float: right;
    margin-top: -13px;
    font-size: 0.9em;
    font-weight: normal;
    margin-right: 5px;
    height: 20px; }
    h4 .h4_link img {
      margin-bottom: -4px; }

h5 {
  font-size: 1em; }

ul li {
  line-height: 1.5em; }
ul #sortable_strategies li {
  cursor: pointer; }

p {
  margin: 0px 20px 10px 20px; }

fieldset {
  clear: both;
  border: none; }

label {
  clear: left;
  float: left;
  line-height: 2em;
  margin-right: 10px;
  margin-bottom: 5px; }

select,
input {
  width: 224px;
  border: 1px solid #4e979e;
  margin-top: 4px;
  font-size: 1em; }

textarea {
  width: 220px;
  border: 1px solid #4e979e;
  margin-top: 4px;
  height: 60px;
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  font-size: 1em; }

form {
  margin: 0px; }

.labelled {
  line-height: 2em; }
