.content .messageArea p {
  margin-top: 0px; }

#strand {
  width: 700px; }

#questions .more .help {
  width: 202px; }
#questions .more p .comment,
#questions .more p .note {
  width: 200px; }
#questions .more textarea {
  width: 230px; }
#questions .issueDetails .question .sub textarea,
#questions .issueDetails .question .sub input {
  margin-left: 30px;
  width: 318px; }

.step .stepBox p img {
  margin-bottom: -2px;
  padding-bottom: 4px; }
.step .stepBox .checkStrand input {
  margin-top: 2px;
  font-weight: normal;
  margin-right: 5px;
  height: 20px; }
  .step .stepBox .checkStrand input html > body.summary fieldset#approval {
    width: 230px; }
  .step .stepBox .checkStrand input html > body .help_example {
    float: left;
    margin-left: 75px;
    margin-top: 5px; }
  .step .stepBox .checkStrand input html > body h4 .h4_link {
    float: right;
    margin-top: -13px;
    font-size: 0.9em; }
  .step .stepBox .checkStrand input html > body h4 .h4_link img {
    margin-bottom: -4px; }

#disable {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 50px;
  left: 0px;
  background-color: #cccccc; }

#content_holder {
  border: 1px solid red; }

.unapprove_box {
  width: 292px;
  position: absolute;
  top: 200px;
  left: 200px;
  border: 4px solid red;
  background-color: white;
  text-align: center;
  padding: 40px 0px; }
  .unapprove_box a {
    color: red; }
    .unapprove_box a:visited, .unapprove_box a:hover {
      color: red; }
  .unapprove_box img {
    margin-bottom: -4px; }
