/*
Syntax error: Inconsistent indentation: "    \t  " was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 35 of /Users/shaun/code/buxton/public/stylesheets/sass/main_ie7.sass

30:           
31: .step
32:   .stepBox
33:     p
34:       img
35:     	  :margin-bottom -2px        
36:         :padding-bottom 4px
37: 	      
38: 	  .checkStrand
39: 	    input
40:         :margin-top 2px

Backtrace:
/Users/shaun/code/buxton/public/stylesheets/sass/main_ie7.sass:35
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/engine.rb:282:in `tabulate'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/engine.rb:224:in `each_with_index'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/engine.rb:240:in `each'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/engine.rb:240:in `each_with_index'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/engine.rb:240:in `tabulate'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/engine.rb:216:in `_to_tree'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/files.rb:44:in `tree_for'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/warden-1.1.0/lib/warden/manager.rb:35:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/activerecord-3.0.6/lib/active_record/query_cache.rb:32:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/activerecord-3.0.6/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/activerecord-3.0.6/lib/active_record/query_cache.rb:12:in `cache'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/activerecord-3.0.6/lib/active_record/query_cache.rb:31:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/activerecord-3.0.6/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/activesupport-3.0.6/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/railties-3.0.6/lib/rails/rack/logger.rb:13:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/activesupport-3.0.6/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/rack-1.2.2/lib/rack/lock.rb:11:in `synchronize'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/actionpack-3.0.6/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/airbrake-3.0.9/lib/airbrake/user_informer.rb:12:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/railties-3.0.6/lib/rails/application.rb:168:in `call'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/railties-3.0.6/lib/rails/application.rb:77:in `send'
/Users/shaun/.rvm/gems/ruby-1.8.7-p370@brs/gems/railties-3.0.6/lib/rails/application.rb:77:in `method_missing'
/Users/shaun/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:147:in `handle'
/Users/shaun/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:99:in `start'
/Users/shaun/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/shaun/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `start'
/Users/shaun/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/shaun/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/shaun/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/shaun/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/bin/nack_worker:4
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: \"    \t  \" was used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 35 of /Users/shaun/code/buxton/public/stylesheets/sass/main_ie7.sass\A \A 30:           \A 31: .step\A 32:   .stepBox\A 33:     p\A 34:       img\A 35:     	  :margin-bottom -2px        \A 36:         :padding-bottom 4px\A 37: 	      \A 38: 	  .checkStrand\A 39: 	    input\A 40:         :margin-top 2px"; }
