#show_organisation label {
  width: 200px; }
#show_organisation .labelled {
  float: left;
  width: 150px;
  line-height: 20px;
  font-weight: bold; }
#show_organisation fieldset {
  border-top: 2px solid #F90;
  padding-left: 0px; }
  #show_organisation fieldset .organisation_customisation {
    margin-bottom: 20px; }
    #show_organisation fieldset .organisation_customisation legend {
      color: #F90;
      font-weight: bold;
      background-color: #fff;
      font-size: 1.1em; }
    #show_organisation fieldset .organisation_customisation label {
      float: none; }
    #show_organisation fieldset .organisation_customisation .long {
      width: 600px; }
    #show_organisation fieldset .organisation_customisation .indent {
      margin-left: 20px; }
    #show_organisation fieldset .organisation_customisation .directorates {
      float: left;
      width: 600px;
      font-size: 1em;
      margin: 0px 0px 20px 0px;
      text-align: left; }
      #show_organisation fieldset .organisation_customisation .directorates .directorate {
        clear: left;
        width: 100%;
        float: left;
        text-align: right;
        margin: 10px 0px; }
        #show_organisation fieldset .organisation_customisation .directorates .directorate a img {
          float: left;
          margin-top: 4px;
          margin-left: 6px; }
      #show_organisation fieldset .organisation_customisation .directorates input {
        float: left;
        width: 400px;
        margin-right: 5px;
        margin-left: 20px; }
      #show_organisation fieldset .organisation_customisation .directorates #add_link {
        float: left;
        margin-top: 10px;
        margin-left: 20px; }
        #show_organisation fieldset .organisation_customisation .directorates #add_link img {
          margin-right: 5px;
          float: left; }
        #show_organisation fieldset .organisation_customisation .directorates #add_link a,
        #show_organisation fieldset .organisation_customisation .directorates #add_link:visited,
        #show_organisation fieldset .organisation_customisation .directorates #add_link:hover {
          text-decoration: underline;
          color: #515f8d; }
      #show_organisation fieldset .organisation_customisation .directorates ul {
        font-weight: bold;
        padding: 0px;
        margin-left: 20px;
        margin-top: 20px;
        list-style-type: lower-roman;
        list-style-position: inside; }

.help_example {
  float: left;
  margin-left: 75px;
  margin-top: 5px; }
