#productPage_content form fieldset {
  margin: 10px 70px 0px 20px;
  width: 257px;
  height: 141px; }
#productPage_content .blue {
  height: 141px;
  width: 382px; }
  #productPage_content .blue p .contactNumber {
    font-size: 3.6em; }
