#strategy_edit label {
  width: 100px;
  margin: 0px;
  float: left; }
#strategy_edit .labelled {
  width: 510px;
  float: left; }
  #strategy_edit .labelled input,
  #strategy_edit .labelled textarea {
    width: 510px;
    float: left; }

#strategy_new label {
  width: 100px;
  margin: 0px;
  float: left; }
#strategy_new .labelled {
  width: 510px;
  float: left; }
  #strategy_new .labelled input,
  #strategy_new .labelled textarea {
    width: 510px;
    float: left; }

#strategy_details label {
  width: 100px;
  margin: 0px;
  float: left; }
#strategy_details .labelled {
  width: 510px;
  float: left; }
  #strategy_details .labelled input,
  #strategy_details .labelled textarea {
    width: 510px;
    float: left; }

.strategy {
  position: relative;
  background-color: #F8F8F8;
  margin: 10px;
  width: 500;
  padding: 5px; }
  .strategy label {
    width: 200px;
    padding: 5px; }
  .strategy input, .strategy textarea, .strategy p {
    width: 260px;
    margin: 2px; }
  .strategy img {
    position: absolute;
    top: 2;
    right: 2; }
