table {
  clear: both;
  width: 950px;
  table-layout: fixed;
  margin: 20px 0px;
  border: 1px solid #bbbbbb; }
  table th {
    background-color: #1b4e77;
    color: white;
    border-right: 1px solid #bbbbbb;
    text-align: left;
    padding: 0px 10px 5px;
    line-height: 16px;
    height: 44px;
    vertical-align: bottom;
    word-wrap: break-word; }
    table th .sortControls {
      float: right; }
      table th .sortControls a {
        float: left;
        width: 16px;
        height: 16px;
        padding: 0px;
        cursor: pointer;
        text-indent: -1000px;
        overflow: hidden;
        background-repeat: no-repeat; }
      table th .sortControls .up {
        background-image: url(../images/bullet_arrow_up.gif) !important; }
      table th .sortControls .down {
        background-image: url(../images/bullet_arrow_down.gif) !important; }
      table th .sortControls .up.selected,
      table th .sortControls .up:hover {
        background-image: url(../images/bullet_arrow_up_on.gif) !important; }
      table th .sortControls .down.selected,
      table th .sortControls .down:hover {
        background-image: url(../images/bullet_arrow_down_on.gif) !important; }
  table .sortControls.asc .up {
    background-image: url(../images/bullet_arrow_up_on.gif) !important; }
  table .sortControls.desc .down {
    background-image: url(../images/bullet_arrow_down_on.gif) !important; }
  table th.sortControls {
    height: auto; }
  table td {
    text-align: left;
    border-right: 1px solid #bbbbbb;
    padding: 8px 10px;
    line-height: 1.3em;
    word-wrap: break-word; }
    table td .action {
      padding-left: 20px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center left; }
    table td .edit {
      background-image: url(../images/icons/edit.gif); }
    table td .view {
      background-image: url(../images/icons/pdf.gif); }
    table td .summary {
      background-image: url(../images/icons/report.gif); }
    table td .clone {
      background-image: url(../images/icons/arrow_divide.gif); }
    table td .comment {
      background-image: url(../images/icons/comment.gif); }
    table td .approve {
      background-image: url(../images/icons/tick.gif); }
    table td .reject {
      background-image: url(../images/icons/cross.gif); }
    table td .members {
      background-image: url(../images/icons/group.gif); }
    table td .actions {
      background-image: url(../images/icons/application_cascade.png); }
    table td .retired {
      font-style: italic;
      color: #e2474b;
      font-size: 11px; }
  table .last {
    border-right: 0px solid #bbbbbb;
    width: 100px; }
  table .taskGroupRemove {
    width: 60px; }
  table .sortControls {
    text-align: center;
    background-color: #d2e0f0;
    padding: 0px; }
    table .sortControls a {
      display: inline-block;
      zoom: 1;
      *display: inline;
      width: 13px;
      padding: 4px 0px;
      cursor: pointer;
      text-decoration: none !important;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center; }
    table .sortControls .up {
      background-image: url(../images/bullet_arrow_up.gif); }
    table .sortControls .down {
      background-image: url(../images/bullet_arrow_down.gif); }
    table .sortControls .up.selected,
    table .sortControls .up:hover {
      background-image: url(../images/bullet_arrow_up_on.gif); }
    table .sortControls .down.selected,
    table .sortControls .down:hover {
      background-image: url(../images/bullet_arrow_down_on.gif); }
  table .first {
    width: 420px; }
  table .icon {
    width: 30px; }
  table .dateTime {
    width: 160px; }
  table .date {
    width: 85px; }
  table .email {
    width: 200px; }
  table .center {
    text-align: center; }
  table .checkbox {
    text-align: center; }
    table .checkbox input {
      width: auto;
      border: none; }
  table .light td {
    background-color: white; }
  table .dark td {
    background-color: #f1f1f1; }
  table .recentlyChanged td {
    font-weight: bold; }

.list {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  align: center; }
  .list caption {
    font-weight: bold;
    text-align: left;
    background-color: white;
    color: #1b4e77;
    padding: 5px;
    text-decoration: none; }
  .list th,
  .list td {
    border: 1px solid #cccccc;
    padding: 2px;
    text-align: center; }
  .list .left {
    text-align: left; }
  .list th {
    background-color: #eeeeee;
    text-align: center; }
  .list td {
    vertical-align: middle; }
  .list table {
    text-align: left; }

.listSmall {
  width: 50%;
  margin-bottom: 10px;
  border-collapse: collapse;
  align: center; }
  .listSmall caption {
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: #1b4e77;
    padding: 5px;
    text-decoration: none; }
  .listSmall th,
  .listSmall td {
    border: 1px solid #cccccc;
    padding: 2px;
    text-align: center; }
  .listSmall .left {
    text-align: left; }
  .listSmall th {
    background-color: #eeeeee;
    text-align: center; }
  .listSmall td {
    vertical-align: middle; }
    .listSmall td .left {
      text-align: left; }
