BODY
{
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 0.7em;
	text-align: center;
	background: #FFF;
	margin: 0;
	color: #666;
}

.content, .mastHead, .login_status
{
	width: 700px;
	background-color: #FFF;
	margin: 0px auto 0px auto;
	text-align: left;
}


h1
{
	font-weight:normal;
	color: #339;
}

h2
{
	font-weight:normal;
	color: #F90;
	margin:0;
	padding-bottom: 1em;
}

.titleArea
{
	border-bottom: solid 10px #cccce5;
}
.mastHead
{
	border-bottom: solid 2px #ff9900;
}

.login_status
{
	border-top: solid 2px #ff9900;
}

h3{
	font-weight: bold;
}

h4{ 
	font-weight: bold;
}

P, LI
{
	line-height: 150%;
}

.question-impact-groups{
	background: url(../images/blue.gif);
	background-repeat: repeat;
}

.question-equality-good{
	background: url(../images/pink.gif);
	background-repeat: repeat;
}

.question-equality-bad{
	background: url(../images/purple.gif);
	background-repeat: repeat;
}

.footer{
	background-color: #FF9900;
}

.login_status{
}

.number{
  text-align: center;
  width: 50px;
}

TABLE.list CAPTION
{
	font-weight: normal;
	text-align:left;
	background-color: #999;
	color: #FFF;
	padding:2px;
	text-decoration:none;
}

table.list{
    border-collapse: collapse;
}

table.list th{ 
	background-color: #EEE;
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFF;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #FFF;
	padding: 2px;
}   

table.list td
{
	padding: 2px;
	border: 1px solid #CCC;  
}   

td.icon{
    display: table-cell;
    vertical-align: middle;
}

td.bar{
	color: #000000;
	border: 1px solid;
}

a:link { 
  color: #333399; 
  text-decoration: none;
  text-decoration: underline;
}

a:visited { 
  color: #333399;
  text-decoration: none;
  text-decoration: underline;
}

a:hover { 
  color: #FFF; 
  background-color: #333399;
  text-decoration: none;
}