BODY
{
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 0.7em;
	text-align: center;
	background: #f8f8f8;
	margin-top: 20px;
	color: #666;
}

.content, .mastHead, .footer
{
	width: 700px;
	background-color: #FFF;
	margin: 0px auto 0px auto;
	text-align: left;
	border-left: solid 1px #515f8d;
	border-right: solid 1px #515f8d;
}

.footer
{
	border-bottom:  solid 1px #515f8d;
}

.login_status
{
	margin:10px 20px;
}

.content .workingArea
{
	margin:20px;
}

.mastHead
{
	border-bottom: solid 2px #ff9900;
}

.mastHead .logo
{
	border-bottom: solid 10px #cccce5;
	background: #292c4b url(../images/www.jpg) no-repeat top left;
	height: 120px;
	width: 700px;
}

.mastHead H1, .mastHead H2
{
	display:none;
}

h1
{
	font-weight:normal;
	color: #339;
}

h2
{
	font-weight:normal;
	color: #F90;
	margin:0;
	padding-bottom: 1em;
}

h3{
	font-weight: normal;
	color: #333399;
	font-size: 2.5em;
}

h4{ 
	font-weight: bold;
	
}

P, LI
{
	line-height: 150%;
}

LABEL
{
	font-weight:bold;
}

INPUT, SELECT, OPTION, TEXTAREA
{
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 1em;
}

FORM{margin:0;}

A IMG
{
	border-style:none;
}

/* menuBar */
DIV.menuBar
{
	background-color: #515f8d;
	height:30px;
}

UL.menuBar
{
	margin: 0 0 0 5px;
	padding: 0;
	list-style: none;
}

UL.menuBar LI
{
	list-style: none;
	float:left;
	display: block;
	margin-right: 5px;
	margin-top: 5px;
}

UL.menuBar LI A:link, UL.menuBar LI A:visited
{
	text-decoration: none;
	color: #FFF;
	display: block;
	background-color: #a8afc6;
	padding:0 1em;
	line-height: 25px;
	font-weight:bold;
}

UL.menuBar LI A:hover
{
	background-color: #FFF;
	color: #515f8d;
}

/*Clickable Buttons*/
.button INPUT, BUTTON
{
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 1em;
	font-weight: bold;
	color: #FFF;
	background-color: #515f8d;
	border-style: solid;
	border-width: 1px;
	border-top-color: #a2beff;
	border-left-color: #a2beff;
	border-bottom-color: #000;
	border-right-color: #000;
}

/*Application Areas*/
.question-impact-groups
{
	color: #000;
	padding: 5px;
	background-color: #ccdce5;
}

.question-equality-good
{
	color: #000;
	padding: 5px;
	background-color: #d4e5cc;
}

.question-equality-bad{
	color: #000;
	padding: 5px;
	background-color: #e5cccc;
}

.number{
  text-align: center;
  width: 50px;
}

/*Tabular Data*/
TABLE.list CAPTION
{
	font-weight: normal;
	text-align:left;
	background-color: #515f8d;
	color: #FFF;
	padding:2px;
	text-decoration:none;
}

table.list{
    border-collapse: collapse;
}

table.list th{ 
	background-color: #EEE;
	border-style: solid;
	border-width: 1px;
	border-top-color: #FFF;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #FFF;
	padding: 2px;
}   

table.list td
{
	padding: 2px;
	border: 1px solid #CCC;  
}   

td.icon{
    display: table-cell;
    vertical-align: middle;
}

td.bar{
	color: #000000;
	border: 1px solid;
}

/*Links*/
a:link { 
  color: #333399; 
  text-decoration: none;
  text-decoration: underline;
}

a:visited { 
  color: #333399;
  text-decoration: none;
  text-decoration: underline;
}

a:hover { 
  color: #FFF; 
  background-color: #333399;
  text-decoration: none;
}

/*Errors*/

.fieldWithErrors{
	display: inline;
	border: solid 3px #C00;
}
.fieldWithErrors INPUT{
	background-color: #FFF0F0;
	border-style:none;
}


#errorExplanation 
{

}

#errorExplanation h2 
{
	text-align: left;
	font-weight: bold;
	font-size: 1em;
	color: #C00;
	padding:0;
	margin:0;
}

#errorExplanation p 
{
	padding:0;
	margin:0;
}

#errorExplanation ul, #errorExplanation ul li 
{
	margin-top:0;
	margin-bottom:0;
}
#errorExplanation ul li 
{
	color: #000;
}

/*Page Columns*/

.splitColumn{
	float:left;
	width: 310px;
	margin: 0 5px;
}
