<% form_tag :action => 'new_link' do %>
    <p>Lost the key that was emailed to you?  Then request a new one.</p>
	<div id="lost">
	    <p><label>Email:</label><%= text_field_tag :email,  nil, options = {:size => 50} -%></p>
	    <span class="button">
	        <%= submit_tag 'Send me a new key' %>
	    </span>
		<div class="clear"></div>
	</div>
<% end %>
