%h1 New User
- form_tag :action => 'create' do
  = render :partial => 'form'
  %span.button
    = submit_tag "Create New", :disable_with => 'Creating...'    
= link_to 'List Admins', :action => 'list'
