<h1>New User</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <span class="button">
    <%= submit_tag "Create New", :disable_with => 'Creating...' %>
  </span>
<% end %>

<%= link_to 'List Admins', :action => 'list' %>
