%h2 Add new user
= render :partial => "user"
#formHelp
  %p
    %strong Email:
    must be unqiue.
  %p
    %strong Trained: 
    this sets whether the user a user has gone through the training screens - if unchecked, the first/next time they log in, they will automatically be taken through the training pages
  %p
    %strong Retired:
    if a user is retired they will no long appear as available to be added within the system.