.searchBox
  %label Search for:
  %input{:type=>"text"}
  %input{:type=>"submit", :value=>"Search"}
.orangeButton
  =link_to "Generate Schedule", "#", :class=>"cal"
.orangeButton
  =link_to "Add new Assessment", "#", :class=>"add"