.organisation_terminology
  -if organisation_terminology then
    -fields_for "organisation[organisation_terminology_attributes][]", organisation_terminology do |organisation_terminology_form|
      = organisation_terminology_form.hidden_field :terminology_id, :value => organisation_terminology.terminology_id, :index => nil
      %p
        %label
          = organisation_terminology.terminology.term
        .labelled
          = organisation_terminology_form.text_field :value, :index => nil
