<div id="show">
	
<h4>Action Planning by equality group</h4>

<h5>Men and Women</h5>


<h5>People from different ethnic backgrounds</h5>


<h5>People with different kinds of disability</h5>


<h5>People from different faith groups</h5>


<h5>People of different sexual orientations</h5>          



<h5>People of different ages</h5>

</div>