#show
  %table
    %tr
      %th.h4{:colspan=>"2"} Action Planning by equality group

  -issues = @activity.issues.group_by(&:strand)
  -issues.each do |key, issue_array|
    -issue_array.each do |issue|
      -issue.attributes.each do |attribute|
        -issues[key][(issues[key].index(issue))][attribute]; issues[key][(issues[key].index(issue))][attribute] = "Not answered yet" unless (attribute.to_s == "")

  -if @activity.relevant_strands.include? 'gender' then
    %table
      %tr
        %th{:colspan=>"2"}Men and Women
      -if strand_issues = issues["gender"]
        -strand_issues.each do |i|
          %tr
            %td
              %table.issueTable{:width=>"620px"}
                %tr
                  %td
                    %span.label.short Description:
                  %td
                    %span.labelled.long
                      =h i.description
                %tr
                  %td
                    %span.label.short Actions:
                  %td
                    %span.labelled.long
                      =h i.actions
                %tr
                  %td
                    %span.label.short Timescales:
                  %td
                    %span.labelled.long
                      =h i.timescales
                %tr
                  %td
                    %span.label.short Resources:
                  %td
                    %span.labelled.long
                      =h i.resources
                %tr
                  %td
                    %span.label.short Lead officer:
                  %td
                    %span.labelled.long
                      =h i.lead_officer
      -else 
        %tr
          %td
            %span.label No issues.

  -if @activity.relevant_strands.include? 'race' then
    %table
      %tr
        %th{:colspan=>"2"}People from different ethnic backgrounds
      -if strand_issues = issues["race"]
        -strand_issues.each do |i|
          %tr
            %td
              %table.issueTable{:width=>"620px"}
                %tr
                  %td
                    %span.label.short Description:
                  %td
                    %span.labelled.long
                      =h i.description
                %tr
                  %td
                    %span.label.short Actions:
                  %td
                    %span.labelled.long
                      =h i.actions
                %tr
                  %td
                    %span.label.short Timescales:
                  %td
                    %span.labelled.long
                      =h i.timescales
                %tr
                  %td
                    %span.label.short Resources:
                  %td
                    %span.labelled.long
                      =h i.resources
                %tr
                  %td
                    %span.label.short Lead officer:
                  %td
                    %span.labelled.long
                      =h i.lead_officer
      -else 
        %tr
          %td
            %span.label No issues.

  -if @activity.relevant_strands.include? 'disability' then
    %table
      %tr
        %th{:colspan=>"2"}People with different kinds of disability
      -if strand_issues = issues["disability"]
        -strand_issues.each do |i|
          %tr
            %td
              %table.issueTable{:width=>"620px"}
                %tr
                  %td
                    %span.label.short Description:
                  %td
                    %span.labelled.long
                      =h i.description
                %tr
                  %td
                    %span.label.short Actions:
                  %td
                    %span.labelled.long
                      =h i.actions
                %tr
                  %td
                    %span.label.short Timescales:
                  %td
                    %span.labelled.long
                      =h i.timescales
                %tr
                  %td
                    %span.label.short Resources:
                  %td
                    %span.labelled.long
                      =h i.resources
                %tr
                  %td
                    %span.label.short Lead officer:
                  %td
                    %span.labelled.long
                      =h i.lead_officer
      -else 
        %tr
          %td
            %span.label No issues.
          
  -if @activity.relevant_strands.include? 'faith' then
    %table
      %tr
        %th{:colspan=>"2"}People of different religions or beliefs
      -if strand_issues = issues["faith"]
        -strand_issues.each do |i|
          %tr
            %td
              %table.issueTable{:width=>"620px"}
                %tr
                  %td
                    %span.label.short Description:
                  %td
                    %span.labelled.long
                      =h i.description
                %tr
                  %td
                    %span.label.short Actions:
                  %td
                    %span.labelled.long
                      =h i.actions
                %tr
                  %td
                    %span.label.short Timescales:
                  %td
                    %span.labelled.long
                      =h i.timescales
                %tr
                  %td
                    %span.label.short Resources:
                  %td
                    %span.labelled.long
                      =h i.resources
                %tr
                  %td
                    %span.label.short Lead officer:
                  %td
                    %span.labelled.long
                      =h i.lead_officer
      -else 
        %tr
          %td
            %span.label No issues.

  -if @activity.relevant_strands.include? 'sexual_orientation' then
    %table
      %tr
        %th{:colspan=>"2"}People of different sexual orientations
      -if strand_issues = issues["sexual_orientation"]
        -strand_issues.each do |i|
          %tr
            %td
              %table.issueTable{:width=>"620px"}
                %tr
                  %td
                    %span.label.short Description:
                  %td
                    %span.labelled.long
                      =h i.description
                %tr
                  %td
                    %span.label.short Actions:
                  %td
                    %span.labelled.long
                      =h i.actions
                %tr
                  %td
                    %span.label.short Timescales:
                  %td
                    %span.labelled.long
                      =h i.timescales
                %tr
                  %td
                    %span.label.short Resources:
                  %td
                    %span.labelled.long
                      =h i.resources
                %tr
                  %td
                    %span.label.short Lead officer:
                  %td
                    %span.labelled.long
                      =h i.lead_officer
      -else 
        %tr
          %td
            %span.label No issues.

  -if @activity.relevant_strands.include? 'age' then
    %table
      %tr
        %th{:colspan=>"2"}People of different ages
      -if strand_issues = issues["age"]
        -strand_issues.each do |i|
          %tr
            %td
              %table.issueTable{:width=>"620px"}
                %tr
                  %td
                    %span.label.short Description:
                  %td
                    %span.labelled.long
                      =h i.description
                %tr
                  %td
                    %span.label.short Actions:
                  %td
                    %span.labelled.long
                      =h i.actions
                %tr
                  %td
                    %span.label.short Timescales:
                  %td
                    %span.labelled.long
                      =h i.timescales
                %tr
                  %td
                    %span.label.short Resources:
                  %td
                    %span.labelled.long
                      =h i.resources
                %tr
                  %td
                    %span.label.short Lead officer:
                  %td
                    %span.labelled.long
                      =h i.lead_officer
      -else 
        %tr
          %td
            %span.label No issues.
  = "There are no relevant equality strands to consider, therefore no questions were asked for this section of the tool." if @activity.strands.size == 0
