<%= error_messages_for 'organisation' %>

<!--[form:organisation]-->

<p><label for="organisation_email">Email</label><br/>
<%= text_field 'organisation', 'email'  %></p>

<p><label for="organisation_name">Name</label><br/>
<%= text_field 'organisation', 'name'  %></p>

<p><label for="organisation_style">Style</label><br/>
<%= text_field 'organisation', 'style'  %></p>

<!--[eoform:organisation]-->

