<% form_tag :action => 'new_link' do %>
  Lost the link that was emailed to you?  Then request a new one.
  <p><label>Email</label>: 
  <%= text_field_tag :email  %></p>
  <%= submit_tag 'Send Me a Reminder' %>
<% end %>
