<% form_tag :action => 'new_key' do %>
  Lost the key that was emailed to you?  Then request a new one.
  <p><label>Email</label>: 
  <%= text_field 'User', 'email'  %></p>
  <%= submit_tag 'Send Me a New Key' %>
<% end %>
