<%= error_messages_for 'impact_group' %>

<p><label for="impact_group_name">Name</label><br/>
<%= text_field 'impact_group', 'name', "size" => 50  %></p>

<p><label for="impact_group_description">Description</label><br/>
<%= text_area 'impact_group', 'description', "cols" => 50, "rows" => 4  %></p>

<p><label for="impact_group_display_order">Display order</label><br/>
<%= text_field 'impact_group', 'display_order', "size" => 2  %></p>