<h1>New <%= @impact_group.organisation.name %> impact group</h1>

<% form_tag :action => 'create' do %>
  <%= hidden_field 'impact_group', 'organisation_id' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list', :id => @impact_group.organisation_id %>
