<h1>Editing user</h1>

<% form_tag :action => 'update', :id => @user do %>
  <%= render :partial => 'form' %>
  <span class="button">
  <%= submit_tag 'Save Changes' %>
  </span>
<% end %>

<%= link_to 'List Admins', :action => 'list' %>
