<h1>New user</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <span class="button">
  <%= submit_tag "Create New" %>
  </span>
<% end %>

<%= link_to 'List Admins', :action => 'list' %>
