.button input {
  border: 0px;
  background-image: image-url("orange_buttons/search.jpg");
  background-repeat: no-repeat;
  width: 79px;
  height: 32px;
  overflow: hidden;
  color: white;
  float: none;
  padding: 0px;
  margin: 0px 0px 0px 10px;
  line-height: 22px;
  font-weight: bold; }

.button input:hover {
  background-image: image-url("orange_buttons/search_hover.jpg"); }
