#banner {
  margin: 0px;
  padding: 10px 0px;
  width: 100%;
  background-color: #fae5b5;
  color: black;
  font-weight: bold;
  font-size: 1em; }

.container {
  width: 980px;
  background-color: white;
  background-image: image-url("header_bg.jpg");
  background-repeat: no-repeat;
  margin: 10px auto;
  text-align: left; }

.mastHead {
  width: 980px;
  float: left;
  height: 197px;
  overflow: hidden;
  position: relative; }
  .mastHead #loggedMenu {
    float: right;
    margin-top: 6px;
    margin-right: 20px;
    display: inline;
    height: 30px; }
  .mastHead #creatorMenu {
    float: left;
    margin-top: 6px;
    margin-left: 20px;
    display: inline;
    height: 30px; }
  .mastHead #generalMenu {
    position: absolute;
    bottom: 0px;
    left: 10px;
    height: 38px; }
  .mastHead #loggedMenu ul,
  .mastHead #creatorMenu ul,
  .mastHead #generalMenu ul {
    list-style: none;
    margin: 3px;
    padding: 0px; }
    .mastHead #loggedMenu ul li,
    .mastHead #creatorMenu ul li,
    .mastHead #generalMenu ul li {
      color: white;
      background-color: transparent;
      float: left;
      margin: 0px 2px;
      height: 20px;
      padding: 5px 5px; }
      .mastHead #loggedMenu ul li a,
      .mastHead #creatorMenu ul li a,
      .mastHead #generalMenu ul li a {
        font-weight: bold;
        float: left;
        text-decoration: none;
        color: white;
        line-height: 20px; }
    .mastHead #loggedMenu ul li:hover,
    .mastHead #creatorMenu ul li:hover,
    .mastHead #generalMenu ul li:hover {
      background-color: #1b4e77; }
    .mastHead #loggedMenu ul .nohover:hover,
    .mastHead #creatorMenu ul .nohover:hover,
    .mastHead #generalMenu ul .nohover:hover {
      background-color: transparent; }
    .mastHead #loggedMenu ul .current,
    .mastHead #loggedMenu ul .current:hover,
    .mastHead #creatorMenu ul .current,
    .mastHead #creatorMenu ul .current:hover,
    .mastHead #generalMenu ul .current,
    .mastHead #generalMenu ul .current:hover {
      background-color: #3595b5; }

#breadcrumb {
  background-color: #d2e0f0;
  width: 970px;
  padding: 5px 0px;
  margin: 0px 5px;
  float: left;
  display: inline; }
  #breadcrumb p {
    margin: 0px 0px 0px 15px;
    color: #3595b5; }
    #breadcrumb p a {
      color: #3595b5;
      text-decoration: underline; }

.content {
  position: relative;
  clear: both;
  width: 950px;
  margin: 15px; }
  .content .workingArea {
    margin: 0px;
    width: 950px;
    overflow: hidden;
    position: relative; }
    .content .workingArea #content_holder {
      width: 950px;
      margin: 0px;
      padding: 10px 0px; }
  .content .mask {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    display: block;
    background-color: black;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    filter: alpha(opacity=50); }

#content_holder p,
#cboxLoadedContent p {
  margin: 5px 0px; }
#content_holder h1, #content_holder h2,
#cboxLoadedContent h1,
#cboxLoadedContent h2 {
  margin: 0px 0px 5px;
  float: left;
  padding: 5px 0; }
#cboxLoadedContent #summaryBox h2 {
  float: none;
}
#content_holder li.checkbox input,
#cboxLoadedContent li.checkbox input {
  height: 12px;
  width: 15px;
  border: none; }
#content_holder .approverForm,
#content_holder .commentform,
#content_holder .noteform,
#cboxLoadedContent .approverForm,
#cboxLoadedContent .commentform,
#cboxLoadedContent .noteform {
  width: 600px; }
  #content_holder .approverForm textarea,
  #content_holder .commentform textarea,
  #content_holder .noteform textarea,
  #cboxLoadedContent .approverForm textarea,
  #cboxLoadedContent .commentform textarea,
  #cboxLoadedContent .noteform textarea {
    width: 80%;
    margin-left: 10%;
    height: 10em; }
  #content_holder .approverForm h2,
  #content_holder .commentform h2,
  #content_holder .noteform h2,
  #cboxLoadedContent .approverForm h2,
  #cboxLoadedContent .commentform h2,
  #cboxLoadedContent .noteform h2 {
    width: 100%;
    text-align: center; }
  #content_holder .approverForm li.textField input,
  #content_holder .commentform li.textField input,
  #content_holder .noteform li.textField input,
  #cboxLoadedContent .approverForm li.textField input,
  #cboxLoadedContent .commentform li.textField input,
  #cboxLoadedContent .noteform li.textField input {
    width: 80%;
    margin-left: 10%; }
  #content_holder .approverForm h5,
  #content_holder .commentform h5,
  #content_holder .noteform h5,
  #cboxLoadedContent .approverForm h5,
  #cboxLoadedContent .commentform h5,
  #cboxLoadedContent .noteform h5 {
    width: 80%;
    margin-left: 10%; }
#content_holder #formHelp,
#cboxLoadedContent #formHelp {
  width: 300px;
  margin-right: 10px;
  padding-left: 20px;
  display: inline;
  float: right;
  background-image: image-url("questions_bg.gif");
  background-repeat: repeat-y;
  background-position: -437px 0px; }
  #content_holder #formHelp p,
  #cboxLoadedContent #formHelp p {
    margin-bottom: 10px; }
#content_holder .searchBox,
#cboxLoadedContent .searchBox {
  float: left;
  width: 500px;
  background-color: #e8e8e8;
  margin-top: 10px;
  padding: 10px 20px 5px;
  width: 910px; }
  #content_holder .searchBox form label,
  #cboxLoadedContent .searchBox form label {
    font-weight: bold;
    float: left;
    line-height: 32px;
    width: 70px; }
  #content_holder .searchBox form .textField,
  #cboxLoadedContent .searchBox form .textField {
    border: 1px solid #999999;
    width: 300px;
    padding: 7px;
    float: left;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
    line-height: 18px; }
  #content_holder .searchBox form .submitButton,
  #cboxLoadedContent .searchBox form .submitButton {
    border: 0px;
    background-image: image-url("orange_buttons/search.jpg");
    background-repeat: no-repeat;
    width: 79px;
    height: 32px;
    overflow: hidden;
    color: white;
    float: left;
    padding: 0px;
    margin: 0px 20px 0px 10px;
    line-height: 22px;
    font-weight: bold; }
  #content_holder .searchBox form .submitButton:hover,
  #cboxLoadedContent .searchBox form .submitButton:hover {
    background-image: image-url("orange_buttons/search_hover.jpg"); }
  #content_holder .searchBox form p,
  #cboxLoadedContent .searchBox form p {
    font-style: italic;
    float: left;
    width: 380px; }
#content_holder .orangeButton,
#cboxLoadedContent .orangeButton {
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: right;
  margin-left: 15px;
  height: 32px;
  padding: 0px;
  background-image: image-url("orange_buttons/bg.jpg");
  background-repeat: no-repeat;
  background-position: center right; }
  #content_holder .orangeButton a,
  #cboxLoadedContent .orangeButton a {
    color: white;
    padding: 5px 10px 5px 30px;
    text-decoration: none;
    float: left;
    height: 22px;
    line-height: 22px;
    font-weight: bold; }
  #content_holder .orangeButton .cal,
  #cboxLoadedContent .orangeButton .cal {
    background-image: image-url("orange_buttons/cal.jpg");
    background-repeat: no-repeat;
    background-position: center left; }
  #content_holder .orangeButton .add,
  #cboxLoadedContent .orangeButton .add {
    background-image: image-url("orange_buttons/add.jpg");
    background-repeat: no-repeat;
    background-position: center left; }
#content_holder .orangeButton:hover,
#cboxLoadedContent .orangeButton:hover {
  background-image: image-url("orange_buttons/bg_hover.jpg"); }
#content_holder .orangeButton.delete,
#cboxLoadedContent .orangeButton.delete {
  background-image: image-url("orange_buttons/search.jpg");
  width: 80px; }
  #content_holder .orangeButton.delete .delete,
  #cboxLoadedContent .orangeButton.delete .delete {
    background-image: image-url("icons/cross.gif");
    background-repeat: no-repeat;
    background-position: center left;
    margin-left: 12px;
    padding-left: 23px; }

.messageArea {
  margin: 5px;
  display: inline;
  float: left;
  overflow: hidden;
  background-color: #f9f7ca;
  padding: 0 15px;
  width: 940px; }
  .messageArea p {
    color: #3595b5;
    background-image: image-url("icons/info.gif");
    background-repeat: no-repeat;
    background-position: left 2px;
    padding-left: 20px;
    line-height: 20px;
    margin: 5px 0px; }

.footer {
  background-color: #d2e0f0;
  width: 970px;
  padding: 10px 0px;
  margin: 20px 5px 5px;
  display: inline;
  text-align: center;
  float: left; }
  .footer p {
    margin: 0px; }
    .footer p a {
      color: #3595b5; }

.deleteButton {
  background-image: image-url("orange_buttons/add.jpg");
  background-repeat: no-repeat;
  background-position: center left; }

.confirmHolder {
  p {
    width: 90%;
    float: left;
  }
  input {
    width: 5%;
    float: right;
  }
}


button:focus {outline:0;}
a:focus {outline:0;}
input:focus {outline:0;}
#colorbox:focus { outline: 0;}

/* To change position of close button to Top Right Corner */
#colorbox #cboxClose
{
top: 0;
right: 0;
}
#cboxLoadedContent{
margin-top:0;
margin-bottom:0;
}
