a {
  color: #1b4e77;
  text-decoration: underline; }
  a:visited {
    color: #1b4e77;
    text-decoration: underline; }
  a:hover {
    color: #e2474b; }
  a:active {
    border: none; }
  a img {
    border: none; }
