.project fieldset {
  border-top: 2px solid #1B4E77;
  padding-left: 0px;
  padding-bottom: 20px;
  padding-top: 10px; }
  .project fieldset legend {
    color: #1B4E77;
    font-weight: bold;
    background-color: #fff;
    font-size: 1.1em; }
  .project fieldset label {
    width: 200px; }
    .project fieldset label .long {
      width: 600px; }
  .project fieldset .labelled {
    float: left;
    width: 280px;
    line-height: 20px;
    font-weight: bold;
    overflow: none; }
    .project fieldset .labelled .long {
      width: 600px; }
  .project fieldset .labelled.long input {
    width: auto;
    margin-left: 0px;
    border: none;
    float: left;
    clear: left; }
  .project fieldset .labelled.long .answer {
    width: 260px;
    float: left; }
