<%= error_messages_for 'strategy' %>

<p><label for="strategy_name">Name</label><br/>
<%= text_field 'strategy', 'name', "size" => 50  %></p>

<p><label for="strategy_description">Description</label><br/>
<%= text_area 'strategy', 'description', "cols" => 50, "rows" => 4  %></p>

<p><label for="strategy_display_order">Display order</label><br/>
<%= text_field 'strategy', 'display_order', "size" => 2  %></p>

