= error_messages_for 'strategy'

%p
  %label Name
  %span.labelled
    = text_field 'strategy', 'name', "size" => 50

%p
  %label Description
  %span.labelled
    = text_area 'strategy', 'description', 'cols' => 50, 'rows' => 4
