<h1>Editing <%= @strategy.organisation.name -%> strategy</h1>

<% form_tag :action => 'update', :id => @strategy do %>
  <%= render :partial => 'form' %>
  <span class="button">
  <%= submit_tag 'Save' %>
  </span>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @strategy -%> | <%= link_to 'Back', :action => 'list', :id => @strategy.organisation_id -%>
