<h2>Editing <%= @organisation.name -%> Strategy</h2>
<div id="strategy_edit">
<% form_for [@organisation, @strategy] do |f| %>
  <%= render :partial => 'form' %>
    <span class="button" style="float:none;">
  		<%= submit_tag "Save", :disable_with => 'Saving...' %>
  	</span>
  <% end %>

  <span class="button">
  	<%= link_to 'Back', organisation_strategies_url(@organisation) %>
  </span>
</div>