%h2 Strategic Themes
.orangeButton
  =link_to "Add Strategic Theme", new_strategy_path, :class=>"add"
%table#sortable{:cellspacing=>"0", :cellpadding=>"0"}
  %tr
    %th Strategic Theme
    %th Retired?
    %th.last
  %tr
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %td.last.sortControls
  - @strategies.each do |strategy|
    %tr{:class => cycle("light", "dark")}
      %td= strategy.name
      %td.checkbox= check_box "strategy", "retired", {:checked=>"#{strategy.retired? ? "checked" : ""}"}, "yes", "no"
      %td.last= link_to "edit", edit_strategy_path(strategy), :class => "action edit", :target => "blank"