<h1>New <%=h @organisation.name -%> Strategy</h1>
<div id="strategy_new">
<% form_for [@organisation, @strategy] do |f| %>
  <%= render :partial => 'form' %>
  	<span class="button" style="float:none;">
  		<%= submit_tag "Create" %>
  	</span>
  <% end %>

  <span class="button">
  	<%= link_to 'Back', organisation_strategies_url(@organisation) %>
  </span>
</div>