<h1>New <%=h @organisation.name -%> Strategy</h1>

<% form_for [@organisation, @strategy] do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', organisation_strategies_url(@organisation) %>