<h1>New <%= @strategy.organisation.name %> strategy</h1>

<% form_tag :action => 'create' do %>
  <%= hidden_field 'strategy', 'organisation_id' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list', :id => @strategy.organisation_id %>
