<% for column in Strategy.content_columns %>
<p>
  <label><%= column.human_name -%>:</label><div class="labelled"><%=h @strategy.send(column.name) -%></div>
</p>
<% end %>

<div class="clear"></div>
 <span class="button">
  	<%= link_to 'Back', organisation_strategies_url(@organisation) %>
  </span>
  
  <span class="button"  style="float:right;">
   	<%= link_to 'Edit', edit_organisation_strategy_url(@organisation, @strategy) -%>
   </span>
