<% for column in Strategy.content_columns %>
<p>
  <label><%= column.human_name -%>:</label><div class="labelled"><%=h @strategy.send(column.name) -%></div>
</p>
<% end %>

<span class="button"  style="float:none;">
 	<%= link_to 'Edit', edit_organisation_strategy_url(@organisation, @strategy) -%>
 </span>

 <span class="button">
  	<%= link_to 'Back', organisation_strategies_url(@organisation) %>
  </span>
