%tr
  %td
    %span.label
      = label
  %td
    %span.labelled
      =h answer
      - if comment = question.comment then
        = image_tag('icons/comment.gif', :id => comment.html_id)
        %script{:type=>"text/javascript"}
          = tooltip(comment.html_id, comment.contents)