<%= error_messages_for 'activity_manager' %>
<%= error_messages_for 'activity' %>
<fieldset id="new_activity">

<% fields_for :activity_manager do |am| %>
<p><label for="activity_manager_email">Email</label><br />
<div class = 'labelled'><%= am.text_field :email, 'size' => 50 -%></div></p>
<% end %>

<p><label for="directorate_id">Directorate</label><div class = 'labelled'><%= f.select(:directorate_id, @directorates) -%><div></p>
</fieldset>
