<h3>Impact Equality&trade; Activity Input Page</h3>

<% form_for :activity, :url => { :action => 'update_contact', :id => @activity } do |f| %>
  <%= render :partial => 'contact', :locals => { :f => f } -%>
  <span class="button">
  <%= submit_tag 'Save' %>
  </span>
<% end %>

<span class="button">
	<%= link_to 'Back', :action => 'list', :id => @current_user.organisation.id %>
</span>