<h3>Impact Equality&trade; Activity Input Page</h3>

<% form_tag :action => 'update_contact', :id => @activity do %>
  <%= render :partial => 'contact' -%>
  <span class="button">
  <%= submit_tag 'Save' %>
  </span>
<% end %>

<%= link_to 'Back', :action => 'list', :id => @current_user.organisation.id %>
