%h2 Welcome to the Impact Equality&trade; Tool
%h3 Activity Home Page
%p 
  %label
    %strong Activity Name:
  %span.labelled
    =h @activity.name
%p 
  %label
    %strong Activity Type:
  %span.labelled
    =h @activity.activity_type

%p 
  Impact Equality&trade; is an automated tool to help with equality impact assessments.  You have been asked to take a lead on the assessment of the activity identified above. If this is news to you, please contact 
  = link_to @organisation_manager.email, "mailto:#{@organisation_manager.email}" 
%p You will see four tabs at the top of this page. You are currently on the first of these (Home).  The Questions tab will take you through the assessment itself.  The Summary tab shows you what you have done so far.  Both of these (Questions and Summary) cannot be seen until you have completed two questions on the Activity Type screen.  To do that, click on the Activity Type tab or on the Next button below.
%p Before you do that a question on your awareness of the Councils’s equalities work.  Have you read the Corporate Equality Scheme?
%p Help is available throughout and is shown in the right hand column of the screen.  You can also make a note to yourself and add comments to be included in the report for the Activity.
.button.floatRight
  = link_to 'next', { :action => 'questions'}, :title =>"Next"