%h1 Welcome to the Impact Equality&trade; Tool
%h3 Activity Home Page

= render :partial => 'activity_name_form', :locals => {'errors' => nil}
= render :partial => 'activity_ref_form', :locals => {'errors' => nil}
-unless @current_user.class.name == 'ActivityApprover' || @current_user.free_access? then
  = render :partial => 'activity_approver_form', :locals => {'errors' => nil, 'wrong_email' => nil}
%p
  %label
    %strong Activity Type:
  %span.labelled
    =h @activity.activity_type

%p
  Impact Equality&trade; is an online tool which has been designed to make equality impact assessments easier to complete.  There are three sections to the tool:
  %ul
    %li Activity Type
    %li Overall Purpose
    %li Relevant Equality Strands
  
%p
  You will see three tabs at the top of this page. You are currently in the first of these (Home). The Questions tab is the starting point for the assessment itself and the Summary tab shows you what you have done so far. To start the assessment, please click on the Questions tab or Next button below.
%p
  Each section comprises a series of questions with a drop down menu and the opportunity to add free text if necessary.  The next section only appears once the preceding section has been completed.
%p
  You can access the tool, answer some questions and save what you have done to return later to complete.
%p
  There is help text for all the questions in the right hand column.
%p
  At the top of the page are three tabs.  You are in the first of these (Home).  The Questions tab is where you actually complete the assessment and the Summary tab shows what you have done so far.
%p
  To start the assessment please click on next below.
-form_for(:activity, :url => {:action => 'update_ces'}) do |f|
  .button.floatRight
    = submit_tag 'Next', {:disable_with => 'Processing...', :id => 'next_button'}