<h2>New Activity</h2>

<% form_for :activity, :url => { :action => 'create'} do |f| %>
  <%= render :partial => 'contact', :locals => { :f => f } -%>
  <span class="button">
  <%= submit_tag "Create" %>
  </span>
<% end %>

<span class="button">
	<%= link_to 'Back', :action => 'list', :id => @current_user.organisation.id %>
</span>
