%h2 Organisational Control Page - Add New Activity
- form_for :activity, :url => { :action => 'create'} do |f|
  = render :partial => 'contact', :locals => { :f => f }
  %p Click 'Create' to add the Activity and you will be taken back to the Activities page where you will be able to send an access key to the Activity Manager.
  %span.button
    = submit_tag "Create", :disable_with => 'Creating...'
%span.button
  = link_to 'Back', :action => 'list', :id => @current_user.organisation.id