.searchBox
  = form_tag '#', :id => 'searchForm' do
    %label Search for:
    = text_field_tag 'search_term', '', :class => 'textField'
    = submit_tag 'Search', :class => 'submitButton'  
    
%table#sortable.searchable{:cellspacing=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th.icon
      %th Description
      %th Time
    / %tr
    /   %th.sortControls
    /     =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
    /     =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    /   %th.sortControls
    /     =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
    /     =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    /   %th.sortControls
    /     =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
    /     =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
  = render :partial => 'log', :collection => @logs