%p{:style=>'width:590px'}
  %strong Please answer all the questions below.  As usual there is help text in the right hand column.  Below the help text is space to add a comment where it would be useful to explain or expand each answer and space to leave a private note to yourself if required.