%h1#questions=h @activity.name + " - " + strand_display(@equality_strand).titlecase + " - Action Planning"

-hashes = @activity.hashes

#questions.no_help
  =form_for(:issues, :url => {:controller => 'issues', :action => 'update'}) do |f|
    %h4 In the Impact section you identified the following issues to be addressed:
    -issues = @activity.issues_by(:impact).reject{|issue| issue.strand != @equality_strand }
    - issues.reject!{|issue| issue.section.to_s == 'impact'} unless @impact_enabled
    - if issues.size > 0
      %ul
        = render :partial => 'issues/review_issue', :collection => issues
    - else
      %p.noIssue No issues to plan actions for.
      
    %h4 In the Consultation section you identified the following issues to be addressed:
    -issues = @activity.issues_by(:consultation).reject{|issue| issue.strand != @equality_strand }
    - issues.reject!{|issue| issue.section.to_s == 'consultation'} unless @consultation_enabled
    - if issues.size > 0
      %ul
        = render :partial => 'issues/review_issue', :collection => issues
    - else
      %p.noIssue No issues to plan actions for.
    .clear
    = hidden_field_tag 'equality_strand', @equality_strand
    %p.question
      %span.button
        = submit_tag 'Save', :disable_with => 'Saving...', :id => 'section_save_button'
  .clear
